body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at top, #000000, #020f06, #000000);
    font-family: 'Share Tech Mono', monospace;
    color: #00ff80;
}

/* NAVBAR */
nav {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    border-bottom: 1px solid #003f20;
}

.logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    letter-spacing: 2px;
    color: #00ff80;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #00ff80;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #00ffaa;
}

/* MAIN CONTENT */
.content {
    margin-top: 150px;
    text-align: center;
}

.typing {
    font-size: 28px;
    width: 80%;
    margin: auto;
    white-space: pre-line;
    overflow: hidden;
    border-right: 2px solid #00ff80;
    display: inline-block;
    animation: cursorBlink 0.7s infinite;
}

@keyframes cursorBlink {
    50% { border-color: transparent; }
}
